<h1>Show Route</h1>

<p>Name: {{model.name}}</p>
<p>The following foods are serverd here:</p>
<ul>
  {{#each model.foods as |food|}}
    <li>{{food.name}}</li>
  {{/each}}
</ul>

{{#link-to 'restaurants.restaurant.edit' model.id}}<button>Edit</button>{{/link-to}}